/* Navbar  */


#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem 2rem 2rem;
  /* espacio extra arriba para navbar fija */
  text-align: center;
}




/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.encabezado,
.footer {
  width: fullscreen;
  background-color: #283e4e;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}

.contenido {
  display: flex;
  flex: 1;
  padding: 1rem;
  gap: 2rem;
}



